*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: #010101;
  text-align: center;
  padding-top: 50px;
}
h1{
  display: flex;
  justify-content: center;
  color:#863cb8;
  font-family: "Marvel";
  font-size: 3rem;
  align-items: center;
}
p{
  display: flex;
  justify-content: center;
  font-style: italic;
  color:#863cb8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  align-items:center; 
}
.img{
  display: flex;
  width: 15%;
  align-items: right;
} 
label{
  color: #863cb8;
  font-family: "marvel";
  font-weight: lighter;
  font-size: 1.5rem ;
  margin: 16px;
  
}
.filterSelect{
  color: #fefefe;
  background-color: #2b212f;
  font-size: larger;
  height: 32px;
  border-radius: 6px;
}
.filterOrden{
  color: #fefefe;
  background-color: #2b212f;
  font-size: larger;
  height: 32px;
  border-radius: 6px;
}
#reset-button{
  color: #fefefe;
  background-color: #2b212f;
  border-color: #f9f9f9;
  font-size: larger;
  height: 3rem;
  width: 5rem;
  border-radius: 6px;
  margin-left: 16px;
}
.contenedor{
  border-radius: 10px;
  padding: 8px;
  background-color: #6B2F93;
  height: 550px;
  margin: 2rem;
  box-sizing: content-box;
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  width: 300px; /* Ajusta el ancho del contenedor según sea necesario */
  
}
.tarjetaImg {
  width: 300px;
  height: 450px;                       
  border-radius: 10px;
  margin-bottom: 1rem;
}
.infoContainer {
  text-align: center; /* Centra el texto dentro de este contenedor */
}
.infoTarjeta{
 align-content:flex-end;
 text-align: left, justify;
 font-family: "marvel";
 font-size: 1.2rem;
 margin: 0;
}
 /*MODAL*/

 .dialog{
  width: 550px;
  height: 850px;
  margin: auto;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(158, 100, 125) 0%, rgba(122,8,133,1) 98%);
  border-radius: 10px;
 }
.modalImg{
 width: 350px;
 height: 450px;
 margin:auto;
 margin-top: 12px;
 border-radius: 10px;
}
#cerrarModal{
  display: flex;
  margin-left: auto;
  border-radius: 4px;
  width: 16px;
  font-weight:bold;
  font-size: 24px;
  text-align: center;background-color: #000000;
  color: #f9f9f9;
}
.tituloModal{
  color:#f9f9f9;
  font-style: italic, bold;
  font-family: "Marvel", sans-serif;
  margin-bottom: 8px;
  font-size: 1.5rem;
}
.infoModal{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  color: rgb(250, 247, 251);
}
 dialog::backdrop{
  background: #000000;
 }